
<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5"> Custom Ice Rods </h1>
      <p class="lead"> Buy the best of the best in ice fishing rod technology </p>
      <!-- post request to server -->
      <form action="/charge" method="POST">
        <!-- script handle descriptions and sets price for server -->
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{stripePublishableKey}}"
          data-amount="7500"
          data-name="Custom Ice Rod"
          data-description="Custom Rods created by Chris Stanton"
          data-image="./images/symbol.png"
          data-locale="auto">
        </script>
        <!-- <script>
          // hide default purchase button
          document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
        </script> -->
        <!-- new purchase button -->
        <!-- <button type="submit" class="btn btn-outline-dark btn-lg"> Purchase For $75 </button> -->
      </form>
    </div>
    <div class="col-md-6">
      <img src="./images/elDente.png" class="img-fluid">
    </div>
  </div>
</section>
